# === BACKEND ===
/app-backend/target/
/app-backend/.classpath
/app-backend/.project
/app-backend/.settings/

# === FRONTEND ===
/app-frontend/node_modules/
/app-frontend/.next/
/app-frontend/.env*

# === GLOBAL ===
*.log
*.DS_Store
.env
*.iml
.idea/
.vscode/
*.swp
*.swo
